.login-page-row {
    margin-top: 100px;
}

.button {
    font-size: 15px;
}

.or {
    font-size: 25px;
}

.register {
    font-size: 20px;
    padding: 8px 30px 8px 30px;
    color: black;
    border-style: solid;
    border-color: #5bc0de;
    background-color: #5bc0de;
}

.grid {
    height: 98%;
    background: url("/img/full.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    margin-top: 100px;
    border-radius: 0.20rem;
    margin-bottom: 200px;
}
